@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --colorBlue: #002554;
  --colorOrange: #FFAF00;
  --h1Color: #424242;
  --pColor: #5A5B5F;
  --titulosSize: 2.625rem;
  --mediumSize: 1.875rem;
  --navSize: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--pColor);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--h1color);
}

/*========== Utilities ==========*/
.textCenter {
  text-align: center;
}

.section {
  margin-bottom: 3rem;
}

.section_titulo {
  padding: 2rem;
  font-size: var(--titulosSize);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*========== Nav ==========*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFF;
  opacity: .35;
}

.nav {
  max-width: 1200px;
  width: calc(100% - 4rem);
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.nav__logo {
  max-width: 70px;
  min-width: 50px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.nav__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  font-size: var(--navSize);
}

.nav__item a {
  color: var(--h1Color);
}

.nav__item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/*========== Home ==========*/
.home {
  height: 100vh;
  width: 100vw;
  background-image: url(/img/bghome.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*========== Elegirnos ==========*/
.elegirnos {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 3rem auto;
}

.cardsText_card {
  border-radius: 5px;
  -webkit-box-shadow: 2px 8px 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 8px 20px 2px rgba(0, 0, 0, 0.1);
}

.cardsText_card h4 {
  color: var(--colorBlue);
  font-size: var(--mediumSize);
  margin-top: 1rem;
}

.cardsText_card p {
  padding: .5rem 2rem 2rem 2rem;
  line-height: 1.3rem;
}

/*========== Propiedades ==========*/
.propiedades {
  background-color: #F2F2F2;
  padding-bottom: 4rem;
}

.cardsPropiedades {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

.cardInside {
  padding: 1rem;
}

.propiedadesCard {
  background-color: #FFF;
  -webkit-box-shadow: 2px 8px 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 8px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.propiedadesCard img {
  border-radius: 5px;
}

.propiedadesCard_subTitle {
  color: var(--colorBlue);
  font-size: .8rem;
}

.propiedadesCard_title {
  color: var(--colorBlue);
  font-size: var(--mediumSize);
}

.propiedadesCard_info {
  font-size: .9rem;
}

.propiedadesCard_button {
  display: inline-block;
  width: 100%;
  background-color: var(--colorOrange);
  color: #FFF;
  text-align: center;
  border-radius: 5px;
  padding: .3rem 0;
  margin-top: 1rem;
}

.bx-home, .bx-location-plus {
  color: var(--colorOrange);
  margin-right: .5rem;
}

/*========== Ahorros ==========*/
.ahorro_left {
  padding: 2rem;
}

.ahorro_left_title {
  color: var(--colorBlue);
  font-size: var(--mediumSize);
  margin-bottom: .5rem;
}

.ahorro_left_text {
  font-size: 1.375rem;
}

.ahorro_left_button {
  display: inline-block;
  background-color: var(--colorOrange);
  font-size: var(--mediumSize);
  color: #FFF;
  text-align: center;
  border-radius: 5px;
  padding: .3rem 5rem;
  margin-top: 2rem;
}

.ahorro_right {
  background-color: var(--colorBlue);
  width: 100%;
}

.ahorro_right img {
  -webkit-transform: translate(2%, -1%);
          transform: translate(2%, -1%);
  display: block;
}

/*========== Testimonios ==========*/
.testimonios {
  background-color: var(--colorBlue);
  padding: 2rem 0 5rem 0;
}

.testimonios_titulo {
  color: #FFF;
  font-size: var(--titulosSize);
  margin-bottom: 1.5rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  position: relative;
}

.testimonios_titulo::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -1px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 10%;
  background: var(--colorOrange);
}

.contenedor_testimonios {
  width: 98%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 10px;
  background-color: #FFF;
}

.slider_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_testimonios img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  padding: 1rem 1rem 0 1rem;
}

.slider_testimonios p {
  text-align: center;
  padding: 0 4rem;
  font-size: 1.3rem;
}

.slider_testimonios h4 {
  text-align: center;
  padding: 1rem;
  font-size: var(--mediumSize);
  color: var(--colorBlue);
}

/*========== BeforeMap ==========*/
.contenedor {
  padding: 2rem;
  border-left: 1px solid #E7E7E7;
  width: 100%;
  text-align: center;
}

.contenedor_title {
  color: var(--colorOrange);
  font-size: var(--titulosSize);
}

.contenedor i {
  margin-right: 1rem;
  color: var(--pColor);
}

.contenedor_text {
  font-size: .875rem;
}

/*========== Footer ==========*/
.footer {
  width: 100%;
  margin: 3rem auto;
  padding: 2rem;
}

.footer_second .row {
  gap: 4rem;
}

.footer_list_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_list_row i {
  color: var(--colorOrange);
  margin-right: .5rem;
}

.footer_list_row_contacto p {
  margin-bottom: .5rem;
}

.footer_first {
  background-color: #FAFAFA;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search input {
  outline: var(--colorOrange);
}

.text_title {
  font-size: var(--titulosSize);
  color: var(--colorBlue);
}

.footer_item_title {
  font-size: var(--mediumSize);
  color: var(--colorBlue);
  position: relative;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.footer_item_title::after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 10%;
  background: var(--colorOrange);
}

.footer_item_subTitle {
  color: var(--colorBlue);
  margin: .5rem 0;
}

.footer_links {
  margin-bottom: .5rem;
}

.footer_links a {
  color: var(--pColor);
}
/*# sourceMappingURL=main.css.map */